In [52]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler
import statistics as st

In [53]:
path=r"C:\Users\ISHA\Desktop\TE (6TH SEM)\SL3\Datasets\Automobile_data.csv"
df=pd.read_csv(path)
print(df.head())

   symboling normalized-losses         make fuel-type aspiration num-of-doors  \
0          3                 ?  alfa-romero       gas        std          two
1          3                 ?  alfa-romero       gas        std          two
2          1                 ?  alfa-romero       gas        std          two
3          2               164         audi       gas        std         four
4          2               164         audi       gas        std         four

    body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
0  convertible          rwd           front        88.6  ...          130
1  convertible          rwd           front        88.6  ...          130
2    hatchback          rwd           front        94.5  ...          152
3        sedan          fwd           front        99.8  ...          109
4        sedan          4wd           front        99.4  ...          136

   fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
0         mpfi  3.47    2.68               9.0        111      5000       21
1         mpfi  3.47    2.68               9.0        111      5000       21
2         mpfi  2.68    3.47               9.0        154      5000       19
3         mpfi  3.19     3.4              10.0        102      5500       24
4         mpfi  3.19     3.4               8.0        115      5500       18

  highway-mpg  price
0          27  13495
1          27  16500
2          26  16500
3          30  13950
4          22  17450

[5 rows x 26 columns]

In [54]:
print("\nData Information:")
print(df.info())

Data Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB
None

In [55]:
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [56]:
missing_values = df.isnull().sum()
print("\nMissing Values:")
print(missing_values)

Missing Values:
symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [57]:
df['length'].fillna(df['length'].median())
df['width'].fillna(df['width'].median())
df['height'].fillna(df['height'].median())

0      48.8
1      48.8
2      52.4
3      54.3
4      54.3
       ...
200    55.5
201    55.5
202    55.5
203    55.5
204    55.5
Name: height, Length: 205, dtype: float64

In [58]:
df['normalized-losses']=df['normalized-losses'].replace(to_replace='NaN', value=None)
df['normalized-losses'] = df['normalized-losses'].fillna(value='Missing')

In [59]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [60]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [61]:
categorical = ['make', 'aspiration', 'bore', 'stroke', 'price', 'normalized-losses']
for col in categorical:
    df[col] = df[col].astype('category')

In [62]:
print("\nData Types After Conversion:")
print(df.dtypes)

Data Types After Conversion:
symboling               int64
normalized-losses    category
make                 category
fuel-type              object
aspiration           category
num-of-doors           object
body-style             object
drive-wheels           object
engine-location        object
wheel-base            float64
length                float64
width                 float64
height                float64
curb-weight             int64
engine-type            object
num-of-cylinders       object
engine-size             int64
fuel-system            object
bore                 category
stroke               category
compression-ratio     float64
horsepower             object
peak-rpm               object
city-mpg                int64
highway-mpg             int64
price                category
dtype: object

In [63]:
df.columns = df.columns.str.replace(' ', '_')
print("\nUpdated Data Information:")
print(df.info())

Updated Data Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    category
 2   make               205 non-null    category
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    category
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    category
 19  stroke             205 non-null    category
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    category
dtypes: category(6), float64(5), int64(5), object(10)
memory usage: 45.1+ KB
None

In [64]:
numeric_cols = df.select_dtypes(include=['int64', 'float64'])

In [65]:
Q1 = numeric_cols.quantile(0.25)
Q3 = numeric_cols.quantile(0.75)
IQR = Q3 - Q1

In [66]:
outliers = (numeric_cols < (Q1 - 1.5 * IQR)) | (numeric_cols > (Q3 + 1.5 * IQR))
print("\nOutliers Detected:")
print(outliers)

Outliers Detected:
     symboling  wheel-base  length  width  height  curb-weight  engine-size  \
0        False       False   False  False   False        False        False
1        False       False   False  False   False        False        False
2        False       False   False  False   False        False        False
3        False       False   False  False   False        False        False
4        False       False   False  False   False        False        False
..         ...         ...     ...    ...     ...          ...          ...
200      False       False   False  False   False        False        False
201      False       False   False  False   False        False        False
202      False       False   False  False   False        False        False
203      False       False   False  False   False        False        False
204      False       False   False  False   False        False        False

     compression-ratio  city-mpg  highway-mpg
0                False     False        False
1                False     False        False
2                False     False        False
3                False     False        False
4                False     False        False
..                 ...       ...          ...
200              False     False        False
201              False     False        False
202              False     False        False
203               True     False        False
204              False     False        False

[205 rows x 10 columns]

In [67]:
df_cleaned = df.copy()
df_cleaned[numeric_cols.columns] = df_cleaned[numeric_cols.columns].where(~outliers, np.nan)
df_cleaned.dropna(inplace=True)

In [68]:
print("\nCleaned Data Information:")
print(df_cleaned.info())

Cleaned Data Information:
<class 'pandas.core.frame.DataFrame'>
Index: 162 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          162 non-null    int64
 1   normalized-losses  162 non-null    category
 2   make               162 non-null    category
 3   fuel-type          162 non-null    object
 4   aspiration         162 non-null    category
 5   num-of-doors       162 non-null    object
 6   body-style         162 non-null    object
 7   drive-wheels       162 non-null    object
 8   engine-location    162 non-null    object
 9   wheel-base         162 non-null    float64
 10  length             162 non-null    float64
 11  width              162 non-null    float64
 12  height             162 non-null    float64
 13  curb-weight        162 non-null    int64
 14  engine-type        162 non-null    object
 15  num-of-cylinders   162 non-null    object
 16  engine-size        162 non-null    float64
 17  fuel-system        162 non-null    object
 18  bore               162 non-null    category
 19  stroke             162 non-null    category
 20  compression-ratio  162 non-null    float64
 21  horsepower         162 non-null    object
 22  peak-rpm           162 non-null    object
 23  city-mpg           162 non-null    float64
 24  highway-mpg        162 non-null    float64
 25  price              162 non-null    category
dtypes: category(6), float64(8), int64(2), object(10)
memory usage: 39.2+ KB
None

In [69]:
minmax_scaler = MinMaxScaler()
df_cleaned["length_scaled"] = minmax_scaler.fit_transform(df_cleaned[["length"]])
df_cleaned["width_scaled"] = minmax_scaler.fit_transform(df_cleaned[["width"]])
df_cleaned["height_scaled"] = minmax_scaler.fit_transform(df_cleaned[["height"]])

In [72]:
print("\nCorrelation of MinMaxScaled Columns:")
print(df_cleaned[['length_scaled', 'width_scaled', 'height_scaled']].corr())

Correlation of MinMaxScaled Columns:
               length_scaled  width_scaled  height_scaled
length_scaled       1.000000      0.808283       0.489125
width_scaled        0.808283      1.000000       0.261132
height_scaled       0.489125      0.261132       1.000000

In [73]:
standard_scaler = StandardScaler()
df_cleaned["length_standardized"] = standard_scaler.fit_transform(df_cleaned[["length"]])
df_cleaned["width_standardized"] = standard_scaler.fit_transform(df_cleaned[["width"]])
df_cleaned["height_standardized"] = standard_scaler.fit_transform(df_cleaned[["height"]])

In [74]:
print("\nCorrelation of Standardized Columns:")
print(df_cleaned[['length_standardized', 'width_standardized', 'height_standardized']].corr())

Correlation of Standardized Columns:
                     length_standardized  width_standardized  \
length_standardized             1.000000            0.808283
width_standardized              0.808283            1.000000
height_standardized             0.489125            0.261132

                     height_standardized
length_standardized             0.489125
width_standardized              0.261132
height_standardized             1.000000

In [75]:
print("\nFirst 10 Rows of Cleaned and Transformed Data:")
print(df_cleaned.head(5))

First 10 Rows of Cleaned and Transformed Data:
   symboling normalized-losses         make fuel-type aspiration num-of-doors  \
0          3                 ?  alfa-romero       gas        std          two
1          3                 ?  alfa-romero       gas        std          two
2          1                 ?  alfa-romero       gas        std          two
3          2               164         audi       gas        std         four
4          2               164         audi       gas        std         four

    body-style drive-wheels engine-location  wheel-base  ...  peak-rpm  \
0  convertible          rwd           front        88.6  ...      5000
1  convertible          rwd           front        88.6  ...      5000
2    hatchback          rwd           front        94.5  ...      5000
3        sedan          fwd           front        99.8  ...      5500
4        sedan          4wd           front        99.4  ...      5500

   city-mpg  highway-mpg  price length_scaled width_scaled  height_scaled  \
0      21.0         27.0  13495      0.445672     0.323944       0.000000
1      21.0         27.0  16500      0.445672     0.323944       0.000000
2      19.0         26.0  16500      0.489871     0.521127       0.327273
3      24.0         30.0  13950      0.589319     0.619718       0.500000
4      18.0         22.0  17450      0.589319     0.647887       0.500000

  length_standardized width_standardized height_standardized
0           -0.272845          -0.822618           -2.025873
1           -0.272845          -0.822618           -2.025873
2           -0.043726           0.117280           -0.495447
3            0.471793           0.587229            0.312278
4            0.471793           0.721500            0.312278

[5 rows x 32 columns]